.App {
  text-align: center;
  background-color: green;
}

.App-SelectRole {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: green;
}

.App-link {
  color: #61dafb;
}

#total {
  margin-left: 30px;
  margin-bottom: 10px;
}